@page "/"
@using SqlDataAccessLibrary.Models
@using SqlDataAccessLibrary

<h1>Scoreboard</h1>

@if (_players is null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Player</th>
            <th>Games Played</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        @foreach (PlayerModel player in _players)
        {
            <tr>
                <td>@player.UserName</td>
                <td>@player.GamesPlayed.ToString()</td>
                <td>@player.Points.ToString()</td>
            </tr>
        }
        </tbody>
    </table>
}

<AuthorizeView>
    <NotAuthorized>
        <div>
            <button id="add-new-game-button" type="button" class="mt-4 w-100 btn btn-lg btn-primary">Add new game</button>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private List<PlayerModel>? _players;

    protected override void OnInitialized()
    {
        _players = SqlDataAccess.LoadPlayers().ToList();
        _players.Sort();
        _players.Reverse();
    }
}