@page "/rules"

<h1>Rules</h1>

<p>Presented on this page are the different ways players are able to gain and/or lose points during a game of commander.
</p>
<p>Once a player is on the <a href="/">scoreboard</a>, the point persist through all future games.</p>
<SurveyPrompt Title="Are you looking for the official Commander rules?" />

<table class="table">
    <thead>
    <tr>
        <th>Action</th>
        <th>Points</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Order of elimination (finishing first, second, third, and fourth)</td>
        <td>+4/3/2/1</td>
    </tr>
    <tr>
        <td>Drawing first blood (combat damange)</td>
        <td>+1</td>
    </tr>
    <tr>
        <td>Casting your commander four or more times</td>
        <td>+1</td>
    </tr>
    <tr>
        <td>Saving another player (from losing the game) during a game</td>
        <td>+1</td>
    </tr>
    <tr>
        <td>Killing an opponent with commander damage</td>
        <td>+1</td>
    </tr>
    <tr>
        <td>Killing all opponents during the same turn</td>
        <td>-1</td>
    </tr>
    <tr>
        <td>Killing the player in sole possession of last place (on the scoreboard) first</td>
        <td>-1</td>
    </tr>
    <tr>
        <td>Searching your deck for 1 minute</td>
        <td>-1</td>
    </tr>
    <tr>
        <td>Searching your deck for 30 seconds beyond the previous rule</td>
        <td>-1</td>
    </tr>
    <tr>
        <td>Failing to cast your commander from the command zone</td>
        <td>-1</td>
    </tr>
    </tbody>
</table>