<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        <br> Head on over to the
        <a target="_blank" class="font-weight-bold" href="https://mtgcommander.net/index.php/rules/">Commander RC
            website</a>
    </span>
    which contain the formal rules defined by The Commander Rules Committee (<a target="_blank" class="font-weight-bold" 
        href="https://mtgcommander.net/index.php/about-us/">RC</a>). Do not forget that Commander is designed to be a
    malleable format, encouraging playgroups to use the rules and the ban list as a <b>baseline</b> to optimize their
    own experience. That said, the format can be broken; we believe games are more fun if you don’t.
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}